body{
    height: 100%;
    background-color: orange;
    background-size: cover;
}

h1,h2,h3,p{
    text-align: center;
    margin-top: 30px;
}

nav{
 
    display:flex;
    justify-content:space-around;
    margin-top: 20px;
    text-align: center;
}

.pics{
    width: 500px;
    height: 300px;
}

img{
    width: 150px;
    height: 200px;
}

.container{
    margin-top: 30px;
    text-align: center;
}

.animalPhoto{
    margin: 0 auto;
}

.contactTable{
    border: 3px solid black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}